.Navul{
  padding: 0;
  margin:0 ;
  display: flex;
  justify-content:flex-end;
    background-color: gray;
}
.Navul li{
  display: inline-block;
  padding: 10px;
 
}
.Navul li a{
  color: aliceblue;
  text-decoration: none;
}
.signup,.login, .addProducts{
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 100px;
}
.inputBox{
display: block;
padding: 10px;
margin: 10px;
width: 250px;
border: 1px solid #282c34;
} 
.signup button, .login button ,.addProducts button{
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background-color:#61dafb;
  border: 1px solid gray;
  cursor: pointer;
} 

.addProducts span{
  color: red;
  margin-left: -180px;
}

.products-list{
  text-align: center;
  margin-top:50px ;
 
}
.products-list ul{
  margin: 0; 
 }
.products-list ul li{
  display: inline-block;
  padding: 5px;
  width: 150px;
  border: 1px solid gray;
  color: #282c34;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #282c34;
  text-align: center;
  color: aliceblue;
}















@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
